$bg-color: #fff;

body {
  font-family: var(--ui-family-sans-serif);
  background-color: var(--ui-body-bg);
  color: var(--ui-body-color);
  font-size: var(--ui-base-size);
  line-height: 1.5;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: var(--ui-primary);
  cursor: pointer;
  text-decoration: none;
  @if $ui-setting-use-transition == true {
    transition: var(--ui-transition);
  }

  &:hover {
    color: var(--ui-color);
  }
}

::selection {
  background-color: var(--ui-primary);
  color: var(--ui-white);
}
