.#{$ui-name-button} {
  padding: var(--ui-button-padding-y) var(--ui-button-padding-x);
  border-radius: var(--ui-radius);
  background-color: transparent;
  border: 1px solid var(--ui-gray-lighter);
  color: var(--ui-body-color);
  cursor: pointer;
  @if $ui-setting-use-transition == true {
    transition: var(--ui-transition);
  }

  &:hover,
  &.is-hovered {
    border-color: var(--ui-gray-light);
  }

  &.is-#{$ui-named-size-small} {
    font-size: var(--ui-button-small-font-size);
    padding: var(--ui-button-small-padding-y) var(--ui-button-small-padding-x);
  }

  &.is-#{$ui-named-size-large} {
    font-size: var(--ui-button-large-font-size);
    padding: var(--ui-button-large-padding-y) var(--ui-button-large-padding-x);
  }

  @each $variation in $ui-colors {
    $key: nth(map-keys($ui-colors), index($ui-colors, $variation));
    $val: map-get(map-get($ui-colors, $key), name);
    $var: map-get(map-get($ui-colors, $key), var);
    $state: map-get(map-get($ui-colors, $key), state-name);

    &--#{$key} {
      border: 0;
      background-color: var(--#{$val});
      color: find-color($var);

      &:hover,
      &.is-hovered {
        background-color: var(--#{$state});
      }

      &.is-outlined {
        background-color: transparent;
        border: 1px solid var(--#{$val});
        color: var(--#{$val});

        &:hover,
        &.is-hovered {
          background-color: var(--#{$val});
          color: find-color($var);
        }
      }

      &.is-inverted {
        background-color: var(--ui-white);
        color: var(--#{$val});

        &:hover,
        &.is-hovered {
          background-color: var(--#{$val});
          color: find-color($var);
        }

        &.is-outlined {
          background-color: transparent;
          border: 1px solid var(--ui-white);
          color: var(--ui-white);

          &:hover,
          &.is-hovered {
            background-color: var(--#{$val});
            color: find-color($var);
            border: 1px solid var(--#{$val});
          }
        }
      }
    }
  }
}
