.#{$ui-name-container} {
  width: 100%;
  padding-left: calc(var(--ui-gutter) / 2);
  padding-right: calc(var(--ui-gutter) / 2);
  margin-left: auto;
  margin-right: auto;

  &-fluid {
    width: 100%;
    padding-left: calc(var(--ui-gutter) / 2);
    padding-right: calc(var(--ui-gutter) / 2);
    margin-left: auto;
    margin-right: auto;
    max-width: none !important;
  }

  &.has-no-gutters {
    @include no-paddings-x;
  }
}

.#{$ui-name-col} {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: calc(var(--ui-gutter) / 2);
  padding-right: calc(var(--ui-gutter) / 2);

  &.has-no-gutters {
    @include no-paddings-x;
  }

  @at-root .#{$ui-name-row} {
    display: flex;
    flex-wrap: wrap;
    margin-left: -calc(var(--ui-gutter) / 2);
    margin-right: -calc(var(--ui-gutter) / 2);

    &.has-no-gutters {
      @include no-margins-x;
    }
  }

  @each $bp in map-keys($ui-breakpoints) {
    $index: index(map-keys($ui-breakpoints), $bp);
    $next: get-next($index);

    @include breakpoint-up($bp) {
      @at-root .#{$ui-name-container} {
        @if $index == 1 {
          max-width: $next - 1;
        } @else {
          max-width: map-get($ui-max-widths, $bp);
        }
      }

      @for $i from 1 through $ui-cols {
        @if $index == 1 {
          &--#{$i} {
            flex: 0 0 (100% / $ui-cols * $i);
            max-width: 100% / $ui-cols * $i;
            padding-left: calc(var(--ui-gutter) / 2);
            padding-right: calc(var(--ui-gutter) / 2);
          }
        } @else {
          &--#{$bp}-#{$i} {
            flex: 0 0 (100% / $ui-cols * $i);
            max-width: 100% / $ui-cols * $i;
            padding-left: calc(var(--ui-gutter) / 2);
            padding-right: calc(var(--ui-gutter) / 2);
          }
        }
      }
    }
  }
}

.has-#{$ui-name-offset} {
  @each $bp in map-keys($ui-breakpoints) {
    $index: index(map-keys($ui-breakpoints), $bp);
    $next: get-next($index);

    @include breakpoint-up($bp) {
      @for $i from 1 through $ui-cols - 1 {
        @if $index == 1 {
          &--#{$i} {
            margin-left: 100% / $ui-cols * $i;
          }
        } @else {
          &--#{$bp}-#{$i} {
            margin-left: 100% / $ui-cols * $i;
          }
        }
      }
    }
  }
}
