//
// Typography
//
@for $i from 1 through length($ui-sizes) {
  .is-size-#{$i} {
    font-size: var(--ui-size-#{$i}) !important;

    @each $bp in map-keys($ui-breakpoints) {
      @include breakpoint-up($bp) {
        &-#{$bp} {
          font-size: var(--ui-size-#{$i}) !important;
        }
      }
    }
  }

  @if $i >= $ui-headline-start-at - 6 AND $i < $ui-headline-start-at {
    h#{$i - 1} {
      font-size: var(--ui-size-#{length($ui-sizes) - $i});
      font-weight: var(--ui-weight-bold);
    }
  }
}

$weights: (light, normal, medium, semibold, bold);
@each $weight in $weights {
  .is-weight-#{$weight} {
    font-weight: var(--ui-weight-#{$weight}) !important;

    @each $bp in map-keys($ui-breakpoints) {
      @include breakpoint-up($bp) {
        &-#{$bp} {
          font-weight: var(--ui-weight-#{$weight}) !important;
        }
      }
    }
  }
}

.is-lead {
  font-size: var(--ui-size-4);
  font-weight: var(--ui-weight-light);
}

.is-muted {
  opacity: 0.5;
}
