.has-#{$ui-name-has-bgc} {
  $color-types: $ui-colors $ui-shades;
  @each $color-type in $color-types {
    @each $variation in $color-type {
      $key: nth(map-keys($color-type), index($color-type, $variation));
      $val: map-get(map-get($color-type, $key), name);

      &--#{$key} {
        background-color: var(--#{$val}) !important;
      }
    }
  }
}
