.has-#{$ui-name-has-padding} {
  @each $variation in $ui-sizes {
    $key: nth(map-keys($ui-sizes), index($ui-sizes, $variation));
    $val: map-get(map-get($ui-sizes, $key), name);

    &--#{$key} {
      padding: var(--#{$val}) !important;
    }
  }
}

.has-#{$ui-name-has-padding}-#{$ui-name-has-padding-top} {
  @each $variation in $ui-sizes {
    $key: nth(map-keys($ui-sizes), index($ui-sizes, $variation));
    $val: map-get(map-get($ui-sizes, $key), name);

    &--#{$key} {
      padding-top: var(--#{$val}) !important;
    }
  }
}

.has-#{$ui-name-has-padding}-#{$ui-name-has-padding-left} {
  @each $variation in $ui-sizes {
    $key: nth(map-keys($ui-sizes), index($ui-sizes, $variation));
    $val: map-get(map-get($ui-sizes, $key), name);

    &--#{$key} {
      padding-left: var(--#{$val}) !important;
    }
  }
}

.has-#{$ui-name-has-padding}-#{$ui-name-has-padding-right} {
  @each $variation in $ui-sizes {
    $key: nth(map-keys($ui-sizes), index($ui-sizes, $variation));
    $val: map-get(map-get($ui-sizes, $key), name);

    &--#{$key} {
      padding-right: var(--#{$val}) !important;
    }
  }
}

.has-#{$ui-name-has-padding}-#{$ui-name-has-padding-bottom} {
  @each $variation in $ui-sizes {
    $key: nth(map-keys($ui-sizes), index($ui-sizes, $variation));
    $val: map-get(map-get($ui-sizes, $key), name);

    &--#{$key} {
      padding-bottom: var(--#{$val}) !important;
    }
  }
}
